@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700');

$primary-header-color: #0f2137;
$secondary-header-color: #343d48;
$primary-text-color: #02073e;
$secondary-text-color: #56bbd0;
$link-color: #3183ff;
$border_color: #e9edf5;
$font-stack: 'Arvo';
$font-secondary: 'DM Sans';
