@use 'default';
@import './share.scss';

.support {
  font-family: default.$font-secondary, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  @media (min-width: 1024px) {
    padding: 50px 0;
  }
  @media (min-width: 1260px) {
    padding-top: 100px;
    padding-bottom: 90px;
  }
  padding: 40px 0;
  .support__wrapper {
    @extend .wrapper;
    .support__main {
      @media (min-width: 768px) {
        gap: 50px;
      }
      @media (min-width: 1024px) {
        gap: 20px;
        grid-template-columns: 360px 1fr;
      }
      @media (min-width: 1260px) {
        grid-template-columns: 470px 1fr;
      }
      gap: 25px;
      margin: 0 auto;
      max-width: 1193px;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(1, 1fr);

      .support__main--left {
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1024px) {
          display: unset;
          grid-template-columns: unset;
        }

        .support__main--left__content {
          @media (min-width: 768px) {
            grid-column: 1/3;
            max-width: 420px;
            margin: 0 auto;
            text-align: left;
          }
          @media (min-width: 1024px) {
            grid-column: unset;
            max-width: none;
            margin-left: unset;
            margin-right: unset;
          }
          text-align: center;

          .support__main--left__content__header {
            @media (min-width: 640px) {
              font-size: 24px;
              line-height: 1.4;
            }
            @media (min-width: 768px) {
              font-size: 28px;
              line-height: 1.53;
              letter-spacing: -1px;
            }
            @media (min-width: 1024px) {
              text-align: left;
            }
            @media (min-width: 1367px) {
              font-size: 36px;
            }
            color: default.$primary-header-color;
            font-family: default.$font-stack, serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: -0.5px;
            text-align: center;
            margin: 0 0 20px;
          }
          .support__main--left__content__para {
            @media (min-width: 768px) {
              font-size: 16px;
              margin: 20px auto 0;
            }
            @media (min-width: 1024px) {
              font-size: 15px;
              line-height: 1.86;
              margin: 15px 0 0;
              text-align: left;
            }
            @media (min-width: 1260px) {
              font-size: 16px;
              line-height: 2.25;
            }
            @media (min-width: 1367px) {
              margin: unset;
            }
            color: default.$primary-text-color;
            font-size: 13px;
            line-height: 1.86;
            max-width: 470px;
            text-align: center;
            margin: 0;
          }
        }
        .support__main--left__option {
          display: flex;
          align-items: center;
          margin-top: 35px;
          .support__main--left__option__logo {
            @media (min-width: 768px) {
              min-width: 60px;
            }
            box-sizing: border-box;
            margin: 0;
            display: flex;
            align-items: center;
            margin-right: 20px;
            min-width: 42px;
          }
          .support__main--left__option__content {
            text-align: start;
            h3 {
              @media (min-width: 768px) {
                font-size: 18px;
              }
              font-size: 16px;
              font-weight: 700;
              line-height: 1.25;
              margin: 0 0 10px;
              display: flex;
              align-items: center;
            }
            p {
              @media (min-width: 768px) {
                font-size: 16px;
              }
              font-size: 14px;
              margin: 0;
            }
          }
        }
      }
      .support__main--right {
        margin: 0;
        min-width: 0;
        display: flex;
        align-items: center;
        .support__main--right__image {
          margin: 0;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
